*{
    margin:0;   
}
body{
    background-image: url(img/canvabg2.png);
    font-family:sans-serif;;

}
.flex{
    display: flex;
    margin-top: 90px;
    margin-left: 100px;
    font-size: 23px;
  
    
}


#name{
    height: 50px;
    width: 500px;
    margin-bottom: 30px;
    border-radius: 7px;
    border-color: rgb(238, 188, 122);
}
#mailme{
    height: 50px;
    width: 500px; margin-bottom: 30px;
    border-radius: 7px;
    border-color: rgb(238, 188, 122);
}
#subject{
    height: 50px;
    width: 500px;margin-bottom: 30px;
    border-radius: 7px;
    border-color: rgb(238, 188, 122);
}

#textarea{
    height: 50px;
    width: 500px; margin-bottom: 30px;
    border-radius: 7px;
    border-color: rgb(238, 188, 122);
}

.submit{
    margin-top: 20px;
    width:150px;
    height: 30px;
    background-color: transparent;
    border-radius: 7px;
    border-color: rgb(238, 188, 122);
    color: white;

}

.submit:hover{
    background-color: white;
    color: black;
}

.contactform{
    margin-left: 300px;
    font-size: 20px;
box-shadow: rgb(238, 188, 122);
margin-bottom:5rem;

}

.intro1{
    width:500px;
}

.gap{
    font-size: 50px;
    color:  rgb(238, 188, 122);
    margin-bottom: 60px;
}

#btn-back-to-top{
    position: fixed;
    font-size: 30px;
    bottom: 120px;
    right: 20px;
    display: none;

}













/* WEB RESPONSive
for Phone */





@media screen and (max-width:622px) {
.body{
    height:50vh;
}
.flex{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.gap{
    font-size: 50px;
    width:500px;
}

.intro1 p{
    width: 400px;
}
.gapp{
    font-size: 30px;
    width:30px;
    

}

.contactform{
    margin-top: 100px;
    margin-left: 0px;
    width: 500px;

}

.navbar{
    display: flex;
    flex-direction: row-reverse;
    padding-right: 200px;
    justify-content: space-between;
    font-size: 50px;
    width: 560px;
}
.icon{
    display: none;
}

.navmenu{
    /* width: 700px; */
    background-color: transparent;
}
.brandlogo{
    display: none;
}

.navmenu{
    justify-content: flex-start;
}
#name{
    height: 50px;
    width: 300px;
    margin-bottom: 30px;
    border-radius: 7px;
    border-color: rgb(238, 188, 122);
}
#mailme{
    height: 50px;
    width: 300px;    margin-bottom: 30px;
    border-radius: 7px;
    border-color: rgb(238, 188, 122);
}
#subject{
    height: 50px;
    width: 300px;margin-bottom: 30px;
    border-radius: 7px;
    border-color: rgb(238, 188, 122);
}

#textarea{
    height: 50px;
    width: 300px; margin-bottom: 30px;
    border-radius: 7px;
    border-color: rgb(238, 188, 122);
}

.submit{
    margin-top: 20px;
    width:150px;
    height: 30px;
    background-color: transparent;
    border-radius: 7px;
    border-color: rgb(238, 188, 122);
    color: white;

}

.submit:hover{
    background-color: white;
    color: black;
}

#marquee{
    width:500px;
    height:30px;
}

#hr{
    width: 560px;
}

    
}