*{
    margin:0;
    box-sizing: border-box;
    list-style: none;
}

body {
    font-size: 10px;
    font-family:sans-serif;;
    background-color:#000000;
    color: white;
    /* font-family: Arial,Helvetica,sans-serif; */
}

.head1{
    display:block;
    font-size:18px;
    padding-top: 11px;
    padding-left: 5em;
    position:absolute;
}
.navbar{
    /* list-style-type: none; */
    display: flex;
    background-image: url(img/img1.webp);
    background-repeat: no-repeat;
    background-size: cover;
    border-top:2px;
    position:static;
    width:auto;
    border-color: #000000;
    height: 55px;
    overflow: hidden;
    color: #C5c6c7; 
    font-family: Arial, Helvetica, sans-serif;
}

.hamburger{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height:3px ;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out ;
    transition: all 0.3s ease-in-out ;
}
.navbar ul{
    list-style-type: none;
    display: inline-flex;
    column-gap: 25px;
    font-size: 18px;
    padding-left: 21em;
    padding-top: 15px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar ul li a{
    color: #C5c6c7; 
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding-top:px;
    font-weight: bold;
    display: block;
    float: left;
}

.navbar ul li a:hover{
   color: cornflowerblue;
    transition: 0.5sec;
}

.icon {
 margin-top: 6px;
    padding-left: 15em;
    font-size: 27px;
    margin-left:60px ;
    text-align: center;}

.icon a{
    margin-left: 15px;
}
    

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
  }
    
  /* Facebook */
.fa-linkedin {
    /* background: #3B5998;*/
    color: #C5c6c7; 
    width:30px;
    height:28x;;
    text-decoration: none;
    justify-content: space-between;
    

  }
  
  /* Twitter */
  .fa-twitter {
    /* background: #55ACEE;*/
    color: #C5c6c7; 
    text-decoration: none;
    justify-content: space-between;
    width:30px;
    height:28px;;
    /* border-radius: 50%; */

  }
  .fa-github {
    /* background: black;*/
    color: #C5c6c7; 
    text-decoration: none;
    justify-content: space-between;
    border-radius: 50%;}
  

/* HERO SECTION */
.hero{
    background-image: url(img/wall.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.62) url(img/3.jpg));   */
    width:auto;
    height:120vh;
    margin-right: 0;
    justify-content: center;
  
}
.hero h4{
padding-top: 170px;
font-size: 70px;
margin-bottom: 20px;
padding-left: 60px;
color: rgb(75, 133, 180);

}

.hero p{
   font-size: 22px;
   padding-left: 60px;
   background-color: #000000;
   width: 630px;
   font-family:"League Spartan";
}
  
.hero button{
    line-height: 30px;
    margin-top: 90px;
   
    color:#fff7f7; 
    transition:  height 1s, width 1s,background 1s, color 1s;
    font-size: 18px;
    background-color: rgb(75, 133, 180);

    width: 155px;
    height: 49px;
    border-radius: 24px;
    border-color: #fcf8f8;
    font-weight: bold;
    margin-left: 60px;
}

.hero button:hover{
    width: 165px;
    height:59px;
    background: #66c5fc;
    color: rgb(16, 16, 17);
}


.hero a{
    margin-left:0px;
    text-align: center;
    /* background-color:#66fcf1; */
    color: rgb(15, 15, 15);
     text-decoration:none;
     font-size: 18px;

}


/* contact */
.contact{
    display:flex;
    min-height: 100px;
    font-family: oswald;
    margin-left: 2em;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.intro{
    margin-left: 5em;
    margin-top: 0rem;
    margin-bottom: 2rem;
    font-size: large;
}
.socials{
    margin-left: 35em;
    margin-top: 0rem;
    margin-bottom: 2rem;
    font-size: large;

}
.socials h1{
    font-size: 30px;

}
.socials a{
    font-size: 35px; 
}
#l{
   background-color: #0077b5;
   width:33px;
}
#t{
    background-color: #0077b5;
   width:33px;
   height: 34px;
}
.contact h1{
    font-size: 30px;

}
.contact p{
    /* margin-top: 30px; */
    font-size: 20px;
    font-family: "League Spartan";
}





#btn-back-to-top{
    position: fixed;
    font-size: 30px;
    bottom: 120px;
    right: 20px;
   

}


















/* WEB RESPONSive
for Phone */





@media screen and (min-width:100px) and (max-width:622px) {
    
body {
    font-size: 10px;
    font-family:sans-serif;;
    background-color:#000000;
    color: white;
    /* font-family: Arial,Helvetica,sans-serif; */
}

.navbar{
    display: flex;
    flex-direction: row-reverse;
    padding-right: 100px;
    font-size: small;
}
.icon{
    display: none;
}

.navmenu{
    /* width: 700px; */
    background-color: transparent;
}
.brandlogo{
    display: none;
}

.navmenu{
    justify-content: flex-start;
}

/* HERO SECTION */
.hero{
    background-image: url(img/wall.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.62) url(img/3.jpg));   */
    width:auto;
    height:100vh;
    margin-right: 0;
    justify-content: center;
  
}
.hero h4{
padding-top: 140px;
font-size: 50px;
margin-bottom: 20px;
padding-left: 50px;
color: rgb(75, 133, 180);

}

.hero p{
   font-size: 22px;
   padding-left: 50px;
   background-color: #000000;
   width: 320px;
   padding-top: 20px;
   font-family:"League Spartan";
}
  
.hero button{
    line-height: 30px;
    margin-top: 90px;
   
    color:#080808; 
    transition:  height 1s, width 1s,background 1s, color 1s;
    font-size: 18px;
    background-color: rgb(75, 133, 180);

    width: 155px;
    height: 49px;
    border-radius: 24px;
    /* border-color: #000000; */
    font-weight: bold;
    margin-left: 90px;
    margin-bottom: 30px;
}

.hero button:hover{
    width: 165px;
    height:59px;
    background: #66c5fc;
    color: rgb(16, 16, 17);
}


.hero a{
    margin-left:0px;
    text-align: center;
    /* background-color:#66fcf1; */
    color: rgb(15, 15, 15);
     text-decoration:none;
     font-size: 18px;

}


/* contact */
.contact{
     
    display:flex;
    flex-direction: column;
    min-height: 150px;
    font-family: oswald;
    margin-left: 2em;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.contact h1{
    font-family: "sans-serif"; 
    text-decoration: underline;
}
.intro{
    margin-left: 1em;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 20px;
}
.socials{
    margin-left: 1em;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 20px;

}
.socials h1{
    font-size: 20px;

}
.socials a{
    font-size: 25px; 
}
#l{
   background-color: #0077b5;
   width:25px;
}
#t{
    background-color: #0077b5;
   width:25px;
   height: 24px;
}
.contact h1{
    font-size: 20px;

}
.contact p{
    margin-top: 15px;
    font-size: 15px;
    font-family: "League Spartan";
}

}
